<div class="in-theatres-partial">
    <div class="in-theatres-title">
        {{title}}
        <br>
        {{releaseState}}
    </div>
    <div class="in-theatres-img">
        <img src="{{image}}">
    </div>
    <div class="in-theatres-actors">
        {{stars}}
    </div>
    <div class="in-theatres-trailer">
        <a href="/trailer/{{id}}">Trailer</a>
    </div>
</div>